body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:625px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:669px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u1053 {
  position:absolute;
  left:248px;
  top:72px;
  width:377px;
  height:669px;
}
#u1054 {
  position:absolute;
  left:2px;
  top:326px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1055 {
  position:absolute;
  left:250px;
  top:73px;
  width:373px;
  height:66px;
}
#u1056 {
  position:absolute;
  left:2px;
  top:25px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:13px;
}
#u1057 {
  position:absolute;
  left:589px;
  top:79px;
  width:30px;
  height:13px;
}
#u1058 {
  position:absolute;
  left:2px;
  top:-2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:13px;
}
#u1059 {
  position:absolute;
  left:257px;
  top:79px;
  width:30px;
  height:13px;
}
#u1060 {
  position:absolute;
  left:2px;
  top:-2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1061 {
  position:absolute;
  left:299px;
  top:78px;
  width:57px;
  height:16px;
}
#u1062 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1063 {
  position:absolute;
  left:555px;
  top:78px;
  width:29px;
  height:16px;
}
#u1064 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:13px;
}
#u1065 {
  position:absolute;
  left:542px;
  top:79px;
  width:7px;
  height:13px;
}
#u1066 {
  position:absolute;
  left:2px;
  top:-2px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1067 {
  position:absolute;
  left:408px;
  top:78px;
  width:57px;
  height:16px;
}
#u1068 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(237, 237, 237, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1069 {
  position:absolute;
  left:250px;
  top:691px;
  width:373px;
  height:48px;
  color:#FFFFFF;
}
#u1070 {
  position:absolute;
  left:2px;
  top:16px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1071 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u1072 {
  position:absolute;
  left:306px;
  top:697px;
  width:25px;
  height:22px;
}
#u1073 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F98904;
}
#u1074 {
  position:absolute;
  left:305px;
  top:719px;
  width:29px;
  height:16px;
  color:#F98904;
}
#u1075 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1076 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u1077 {
  position:absolute;
  left:539px;
  top:696px;
  width:25px;
  height:22px;
}
#u1078 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1079 {
  position:absolute;
  left:539px;
  top:718px;
  width:29px;
  height:16px;
}
#u1080 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1081 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u1082 {
  position:absolute;
  left:423px;
  top:696px;
  width:25px;
  height:22px;
}
#u1083 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1084 {
  position:absolute;
  left:415px;
  top:718px;
  width:43px;
  height:16px;
}
#u1085 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1086 {
  position:absolute;
  left:250px;
  top:139px;
  width:375px;
  height:552px;
  overflow:hidden;
}
#u1086_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:552px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1086_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1087 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:none;
}
#u1087_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1087_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:700px;
  background:inherit;
  background-color:rgba(250, 249, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1088 {
  position:absolute;
  left:-1px;
  top:0px;
  width:381px;
  height:700px;
}
#u1089 {
  position:absolute;
  left:2px;
  top:342px;
  width:377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1090 {
  position:absolute;
  left:9px;
  top:207px;
  width:355px;
  height:106px;
}
#u1091 {
  position:absolute;
  left:2px;
  top:45px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1092 {
  position:absolute;
  left:37px;
  top:174px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1093 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:90px;
}
#u1094 {
  position:absolute;
  left:16px;
  top:215px;
  width:131px;
  height:90px;
}
#u1095 {
  position:absolute;
  left:2px;
  top:37px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4D4D4D;
}
#u1096 {
  position:absolute;
  left:166px;
  top:254px;
  width:99px;
  height:16px;
  color:#4D4D4D;
}
#u1097 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#B3B3B3;
}
#u1098 {
  position:absolute;
  left:166px;
  top:284px;
  width:113px;
  height:16px;
  color:#B3B3B3;
}
#u1099 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6E00;
}
#u1100 {
  position:absolute;
  left:162px;
  top:222px;
  width:127px;
  height:16px;
  color:#FF6E00;
}
#u1101 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1102 {
  position:absolute;
  left:314px;
  top:283px;
  width:38px;
  height:16px;
  color:#CCCCCC;
}
#u1103 {
  position:absolute;
  left:5px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1104 {
  position:absolute;
  left:300px;
  top:284px;
  width:15px;
  height:16px;
}
#u1105 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1106 {
  position:absolute;
  left:-325px;
  top:13px;
}
#u1106_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1106_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1107 {
  position:absolute;
  left:-3px;
  top:0px;
  touch-action:none;
}
#u1107_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1107_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:148px;
}
#u1108 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:148px;
}
#u1109 {
  position:absolute;
  left:2px;
  top:66px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:148px;
}
#u1110 {
  position:absolute;
  left:345px;
  top:0px;
  width:335px;
  height:148px;
}
#u1111 {
  position:absolute;
  left:2px;
  top:66px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:148px;
}
#u1112 {
  position:absolute;
  left:690px;
  top:0px;
  width:335px;
  height:148px;
}
#u1113 {
  position:absolute;
  left:2px;
  top:66px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:21px;
}
#u1114 {
  position:absolute;
  left:12px;
  top:176px;
  width:17px;
  height:21px;
}
#u1115 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1116 {
  position:absolute;
  left:9px;
  top:323px;
  width:355px;
  height:106px;
}
#u1117 {
  position:absolute;
  left:2px;
  top:45px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:90px;
}
#u1118 {
  position:absolute;
  left:16px;
  top:331px;
  width:131px;
  height:90px;
}
#u1119 {
  position:absolute;
  left:2px;
  top:37px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4D4D4D;
}
#u1120 {
  position:absolute;
  left:166px;
  top:370px;
  width:99px;
  height:16px;
  color:#4D4D4D;
}
#u1121 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#B3B3B3;
}
#u1122 {
  position:absolute;
  left:166px;
  top:400px;
  width:113px;
  height:16px;
  color:#B3B3B3;
}
#u1123 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6E00;
}
#u1124 {
  position:absolute;
  left:162px;
  top:338px;
  width:127px;
  height:16px;
  color:#FF6E00;
}
#u1125 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1126 {
  position:absolute;
  left:314px;
  top:399px;
  width:38px;
  height:16px;
  color:#CCCCCC;
}
#u1127 {
  position:absolute;
  left:5px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1128 {
  position:absolute;
  left:300px;
  top:400px;
  width:15px;
  height:16px;
}
#u1129 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1130 {
  position:absolute;
  left:9px;
  top:439px;
  width:355px;
  height:106px;
}
#u1131 {
  position:absolute;
  left:2px;
  top:45px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:90px;
}
#u1132 {
  position:absolute;
  left:16px;
  top:447px;
  width:131px;
  height:90px;
}
#u1133 {
  position:absolute;
  left:2px;
  top:37px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4D4D4D;
}
#u1134 {
  position:absolute;
  left:166px;
  top:486px;
  width:99px;
  height:16px;
  color:#4D4D4D;
}
#u1135 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#B3B3B3;
}
#u1136 {
  position:absolute;
  left:166px;
  top:516px;
  width:113px;
  height:16px;
  color:#B3B3B3;
}
#u1137 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6E00;
}
#u1138 {
  position:absolute;
  left:162px;
  top:454px;
  width:127px;
  height:16px;
  color:#FF6E00;
}
#u1139 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1140 {
  position:absolute;
  left:314px;
  top:515px;
  width:38px;
  height:16px;
  color:#CCCCCC;
}
#u1141 {
  position:absolute;
  left:5px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1142 {
  position:absolute;
  left:300px;
  top:516px;
  width:15px;
  height:16px;
}
#u1143 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:106px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1144 {
  position:absolute;
  left:9px;
  top:555px;
  width:355px;
  height:106px;
}
#u1145 {
  position:absolute;
  left:2px;
  top:45px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:90px;
}
#u1146 {
  position:absolute;
  left:16px;
  top:563px;
  width:131px;
  height:90px;
}
#u1147 {
  position:absolute;
  left:2px;
  top:37px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#4D4D4D;
}
#u1148 {
  position:absolute;
  left:166px;
  top:602px;
  width:99px;
  height:16px;
  color:#4D4D4D;
}
#u1149 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#B3B3B3;
}
#u1150 {
  position:absolute;
  left:166px;
  top:632px;
  width:113px;
  height:16px;
  color:#B3B3B3;
}
#u1151 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6E00;
}
#u1152 {
  position:absolute;
  left:162px;
  top:570px;
  width:127px;
  height:16px;
  color:#FF6E00;
}
#u1153 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u1154 {
  position:absolute;
  left:314px;
  top:631px;
  width:38px;
  height:16px;
  color:#CCCCCC;
}
#u1155 {
  position:absolute;
  left:5px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u1156 {
  position:absolute;
  left:300px;
  top:632px;
  width:15px;
  height:16px;
}
#u1157 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1158 {
  position:absolute;
  left:0px;
  top:162px;
  width:373px;
  height:625px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:67px;
}
#u1159 {
  position:absolute;
  left:368px;
  top:1px;
  width:140px;
  height:67px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#000000;
}
#u1160 {
  position:absolute;
  left:2px;
  top:26px;
  width:136px;
  word-wrap:break-word;
}
#u1161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1161 {
  position:absolute;
  left:390px;
  top:104px;
  width:94px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1162 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
